.app-input {
    width: 100%;
    border: 0;
    height:40px;
    background-color: transparent;
    text-indent: 20px;
}

.app-input-center {
    text-align: center;
}

.app-input-center::placeholder{
    text-align: center;
 }