.app-form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.app-form-component {
    padding: 20px 0;
    width: 70%;
}

.app-form-heading {
    
}

.app-form-content {

    
}

.app-form-content > input {

}

.app-form-actions {
    display: flex;
    flex-direction: column;
}

.app-form-actions * {
    margin: 5px auto;
}