#toolbar {
    height: 60px;
    width: 100%;
    padding: 30px 0;
    display: flex;
    box-shadow: 0px 1px 3px lightgray;
    background-color: aliceblue;
    margin-bottom: 15px;
    text-align: center;
}

/*
#toolbar > * > * {
    margin-top: 20px;
}
*/
.toolbar_left {
    justify-content: flex-end;
    width: 25%;
}

.toolbar_center {
    justify-content: flex-end;
    width: 50%;
    margin-top:15px;
}

.toolbar_right {
    justify-content: flex-end;
    width: 25%;
}