#toolbar {
    height: 60px;
    width: 100%;
    display: flex;
}

.toolbar_left {
    justify-content: flex-end;
    width: 25%;
}

.toolbar_center {
    justify-content: flex-end;
    width: 50%;
}

.toolbar_right {
    justify-content: flex-end;
    width: 25%;
}