.app-input{
    width: 100%;
    margin-top:10px;
    margin-bottom:10px;
    border: 1px solid lightgray;
    height:40px;
    text-indent: 20px;
}

.app-input-center {
    text-align: center;
}

.app-input-center::placeholder{
    text-align: center;
 }

 .app-input[type='checkbox']{
     
 }